
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
        <div class="contact-us">
          <div class="container">

              <div class="contact-info">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <div class="left">
                          <h2>Contact Us</h2>
                          <p>
                             <b> Orange Studio</b> <br>
                                  Road 8, Block D, Cairo Free Zone, Nasr City, Cairo, EGYPT.
                          </p>
                      </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                      <div class="right">
                          <p>
                                      Tel .:  +202-22713519<br>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                          +202-22713517<br>
                                  Fax .: +202-22713524<br>
                          </p>
                      </div>
                  </div>
                </div>
              </div>

              <div class="location">
              <div class="row">
              <div class="col-md-6 col-xs-12">
                <div>
                    <form class="form-group" autocomplete="off" method="get">
                      <div class="input-field">
                        <i class="fas fa-user-alt"></i>
                        <input type="text" class="form-control" class="validate" placeholder="Name" required>
                      </div>

                      <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input id="email" class="form-control" type="email" class="validate" placeholder="Email" required>
                      </div>
                      
                      <div class="input-field">
                    <i class="far fa-comment-dots"></i>
                        <textarea id="textarea"  class="form-control" placeholder="Your Message" required></textarea>
                      
                      </div>

                      <div class="input-wrap">
                        <button id="confirm" class="btn btn-info" type="submit">Submit</button>
                      </div>

                    </form>
                </div>
              </div>

              <div class="col-md-6 col-xs-12">
                 <div class="map">
                    <a href="https://www.google.com/maps/@30.037631,31.351461,4053m/data=!3m1!1e3?hl=en" target="_blank"><img alt="y8" src="{{ directory }}/images/map.png" /></a>
                 </div>
              </div>
            
            </div>
           </div>
          </div>
        </div>
  {% endblock %}
</section>

