html{
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  height: 2000px;
}
h2 {
  text-transform: capitalize;
  color: orange;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
}
/* ********start head*************/
.navbar{
  background-color: transparent;
  border-bottom: 2px solid #eee;
  text-transform: capitalize;
  font-size: 17px;
  box-shadow: 4px 2px 13px 0px #f4f4f4;
}
.navbar-brand{
  margin-top: -15px;
}
.nav>li>a {
  position: relative;
  display: block;
  color: #000;
  font-weight: bold;
}
.navbar-toggle .icon-bar {
  background-color: orange;
}
.nav>li>a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 5px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.nav>li>a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.nav>li>a:focus::after{
  transform: scaleX(1);
  transform-origin: left;
}
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.nav>li>a:focus {
   text-decoration: none;
   background-color: transparent;
}

.navbar-right {
  float: right!important;
  margin-right: 50px;
}

/************end head***********/
/************start navbar***********/
#slider{
  height: 400px;
  width: 100%;
}
#slider .img_slider{
  width: 100%;
  height: 400px;
}
/************end navbar***********/
.span_header{
  color: orange;
  font-weight: bolder;
}
/********************************
start section about
**********************************/
#block-views-block-about-block-1{   padding: 50px 0; }
#block-views-block-about-block-1 .left p {
  font-size: 16px;
  line-height: 2.49rem;
}
#block-views-block-about-block-1 h3 {
   text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
}
#block-views-block-about-block-1 .right{
  margin-top: 63px;
  text-align: center;
}

#block-views-block-about-block-1 h3 a{ color: orange;}
#block-views-block-about-block-1 h3 a:hover {
  text-decoration: none;
}
@media(max-width:375px) {

  #block-views-block-about-block-1 .views-row img {
    /* width: 100%; */
  }
  #block-views-block-about-block-1 p
  { padding: 0 15px; }
}

#block-views-block-about-block-1 h3 a:hover{ text-decoration: none;}
#block-views-block-about-block-1  p{
  font-size: 16px;
}
.about #block-views-block-about-block-1 strong{  color: orange;}
/* #block-views-block-about-block-1 .views-row img{  width: 100%;} */
/***************************
 end section about
 ***************************/

/* *********************
start section services
**********************************/
#block-views-block-about-block-1{   padding: 50px 0; }
#block-views-block-services-block-1-3  h2
{
   margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
}
#block-views-block-services-block-1-3 .description{
  font-size: 16px;
}
#block-views-block-services-block-1-3 .parent{
  padding: 15px;
}
#block-views-block-services-block-1-3 img {
  padding: 30px;
  width: 100%;
  min-height: 211px;
  margin-bottom: 20px;
}
#block-views-block-services-block-1-3 .parent h4 {
  margin-bottom: 15px;
  font-weight: bold;
<<<<<<< HEAD
  color: #5fb8e0;
}
/*#block-views-block-services-block-1-3 .parent a {*/
/*color: #5fb8e0;*/
/*}*/
/*#block-views-block-services-block-1-3 .parent a:hover {*/
/*  text-decoration: none;*/
/*  cursor: auto;*/
/*}*/
=======
  color: #09c;
}
#block-views-block-services-block-1-3 .parent a {
color: #5fb8e0;
}
#block-views-block-services-block-1-3 .parent a:hover {
  text-decoration: none;
  cursor: auto;
}
>>>>>>> b742bdacaf7b800004514dc2db2d082f648854ba



/*************
end section services
*******************/

/***************start portfolio****************** */
#block-views-block-portofolio-block-1 p {
  font-size: 16px;
  line-height: 3.5rem;
  margin-top: 26px;
}
#portfolio .owl-carousel .owl-nav.disabled {
  display: none;
  position: relative;
}
#portfolio .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  color: orange;
  font-size: 32px;
  font-weight: 900;
}
#portfolio .owl-prev{
  bottom: 140px;
  left: -39px;
}
#portfolio .owl-next{
  bottom: 140px;
  right: -39px;
}
#portfolio .modal-body a{
  color: orange;
  display: block;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
#portfolio .modal-content {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin-top: 50%;
  transform: translateY(-50%);
}
#portfolio .modal-header .close {
   margin-top: -2px;
   color: orange;
}
#portfolio .img_popup{
  margin: auto;
  width: 78%;
  vertical-align: middle;
  display: block;
  height: 274px;
}
/***************end portfolio****************** */

/********************************
 start section contact
 ********************************* */

#block-views-block-contact-block-1 {
  padding: 60px 0;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/light_grey.png) repeat;
}
#block-views-block-contact-block-1 .contact-info{
  background-color: orange;
  padding: 20px;
  margin-bottom: 20px;
}
#block-views-block-contact-block-1 .contact-info .left h2{
  color: #000;
  margin-bottom: 25px;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
}
#block-views-block-contact-block-1 .contact-info .left b{
  color: black;
  font-size: 18px;
}
#block-views-block-contact-block-1 .contact-info .left p{
  font-size: 18px;}
#block-views-block-contact-block-1 .contact-info .right p{
  line-height: 2em;
  font-size: 18px;
  margin-top: 60px;
}

#block-views-block-contact-block-1 .location {
  padding: 20px 0;
}
#block-views-block-contact-block-1 .location .input-field {
  margin-bottom: 30px;
}
#block-views-block-contact-block-1 .location .input-field  textarea.form-control {
  height: 100px;
}
#block-views-block-contact-block-1 .location .map img{
  width: 100%;
}

#block-views-block-contact-block-1 svg:not(:root).svg-inline--fa {
  color: orange;
  font-size: 25px;
}

/********************************
 end section contact
 ********************************* */


/********************************
 start section google map
 ********************************* */


#block-views-block-social-block-1 { padding:30px 0 10px 0;}
#block-views-block-social-block-1 .left span{
    color: orange;
    font-weight: bold;
}
#block-views-block-social-block-1 .left p{font-size: 16px;}
#block-views-block-google-map-block-1 img {
    width: 100%;
}
/********************************
 end section google map
 ********************************* */

/* *********************
start section footer
**********************************/
#block-views-block-social-block-1 ul{ float: right;}
#block-views-block-social-block-1 li{
    display: inline-block;
    margin-right: 10px;
}

.footer{
    margin-top: 0;
    padding-bottom: 20px;
}
@media(min-width:768px){
#block-views-block-social-block-1 .right{
  margin-top: -15px;
}
}

@media(max-width:1024px){
    .contact
       {  width:70%;  }
    }

@media(max-width:375px){
.contact    {
width: 100%;
    }
}


/* *********************
end section footer
**************************   */


/* *********************
start section portofolio
**************************   */


#block-views-block-portofolio-block-1{
margin: 20px 0;
}
#block-views-block-portofolio-block-1 .owl-item {
    margin-right: 5px;
}
#block-views-block-portofolio-block-1 .views-row .item .outside img{
  min-height: 300px;
}




#myBtn{
  display: none;
  height: 50px;
  width: 50px;
  position: fixed;
  border-radius: 50%;
  bottom: 80px;
  right: 10px;
  color: #f50;
  cursor: pointer;
  z-index: 1;
}
.loading{
  visibility: visible;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f0ad4e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/****************responsive******************/
@media (max-width: 575.98px) {
  #portfolio{
    padding: 10px;
  }
  #block-views-block-about-block-1 p{
    padding-left: 20px;
    padding-right: 20px;
  }
  #block-views-block-about-block-1 h3{
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
  }
  #block-views-block-about-block-1 .right {
    margin-top: 19px;
    text-align: center;
  }
  #portfolio .owl-prev{
    bottom: -30px;
    left: 40%;
  }
  #portfolio .owl-next{
    bottom: -30px;
    right: 40%;
  }
  #services{
    padding: 10px;
  }
  #block-views-block-services-block-1-3 .parent {
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-29%);
    margin-bottom: 20px;
  }
  #block-views-block-services-block-1-3 img {
    padding: 20px;
    width: 100%;
    max-height: 292px;
  }

  #services .col-xs-12 {
    width: 70%;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  #portfolio{
    padding: 10px;
  }
  #portfolio .owl-prev{
    bottom: -30px;
    left: 40%;
  }
  #portfolio .owl-next{
    bottom: -30px;
    right: 40%;
  }
  #block-views-block-about-block-1 p{
    padding-left: 20px;
    padding-right: 20px;
  }
  #block-views-block-about-block-1 h3{
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: bold;
  }
  #block-views-block-about-block-1 .right {
    margin-top: 19px;
    text-align: center;
  }
  #block-views-block-about-block-1 .right img{
    width: 80%;
  }
  #block-views-block-services-block-1-3 .parent {
    overflow: hidden;
    position: relative;
    width:90% ;
    left: 50%;
    transform: translateX(-29%);
    margin-bottom: 20px;
  }

  #services .col-xs-12 {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #portfolio{
    padding: 10px;
  }
  #portfolio .owl-prev{
    bottom: -30px;
    left: 40%;
  }
  #portfolio .owl-next{
    bottom: -30px;
    right: 40%;
  }
  #block-views-block-about-block-1 p{
    padding-left: 20px;
    padding-right: 20px;
  }
  #block-views-block-about-block-1 h3{
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: bold;
  }
  #block-views-block-about-block-1 .right {
    margin-top: 19px;
    text-align: center;
  }
  #block-views-block-about-block-1 .right img{
    width: 80%;
  }
  #block-views-block-services-block-1-3 .parent {
    overflow: hidden;
    position: relative;
    height: 33em;
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #block-views-block-about-block-1 .right {
    margin-top: 19px;
    text-align: center;
  }
  #block-views-block-about-block-1 .right img{
    width: 80%;
  }
  #block-views-block-services-block-1-3 .parent {
   overflow: hidden;
    position: relative;
    height: 565px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
/****************responsive******************/

